<div class="content-header" style="background-image:url(/Assets/img/99.jpg));">
    <h1>About us</h1>
</div>
<div class="article-content">
    <div class="artice-inner-content">
        <header class="article-header">
            <p>
                "We are a global management consulting firm that serves a broad mix of private, public and social sector institutions.
                We help our clients make significant and lasting improvements to their performance and realize their most important goals.
                With nearly a century of experience, we’ve built a firm uniquely equipped to this task."
            </p>
            </header>
       
            </div>
    </div>
<h1 class="our-team">Our Team</h1>
<article class="about-content">  
    @{Html.RenderAction("DisplayReview", "Reviews");}
</article>

            
