@{
    ViewBag.Title = "Contact";
}


<div class="content-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="inner-content">

    <img src="/Assets/img/cafeabout.jpg" alt="Our Coffee Photo" class="contact-img"/>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <i class="fas fa-phone"></i>+8(800)-555-35-35<br /><br /><br />
        
    
        <i class="fas fa-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <i class="fas fa-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>

   

</div>
<section class="main-map">

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad96675a31782685d3fab42876791e3d68baaee29876c86f0a7f40a8f370fe2c4&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</section>


